*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

.container{
    margin:0;
    padding:0;
}

header {
    background-color: #e3f2fd; 
    height:200px;
}

img {
    border-radius:100%;
    z-index:2;
    margin-top:100px;
}
#nav {
    margin:0;
    padding:0;
    width:auto;
}

.content {
    display: flex;
    justify-content: space-evenly;
    margin:auto;
    margin-left:100px;
}


.sosial img{
    margin:20px;
    width:34px;
    
}
.sosial a:hover img{
    width:42px;
}

.main {
    width:auto;
    display:flex;
}

.main img {
    margin-top: 0;
}

@media screen and (max-width:768px){
    .content{
        margin-top:150px;
    }
}